websockets
django
channels[daphne]
Twisted[tls,http2]
channels_redis
redis==7.4.0
django-crispy-forms
crispy-bootstrap4
opencv-python-headless
django-extensions
pygraphviz
pydot
aiohttp
django-environ
pyyaml