{% extends "base.html" %}

{% block content %}
  <section class="text-center">
    <div class="container">
      <br>
      <h1>AMaze example</h1>
    </div>
  </section>

  <br>
  <div class="container text-center">
    <div class="row align-middle">
      <div class="col align-middle">
        <div class="row justify-content-md-center">
          <div class="col-lg-7">
            <div class="card mb-4 box-shadow text-center">
              <div class="card-body">
                <p class="card-text"><b>AMaze is primarily a maze generator: its goal is to provide an easy way to generate arbitrarily complex (or simple) mazes for agents to navigate in. You can find more information <a href="https://amaze.readthedocs.io/en/latest/">here</a>.</b></p>
              </div>
              <div class="card-body">
                <img
                  src="/static/AMaze/visualization/example.png"
                  class="d-block w-100"
                />
              </div>
            </div>
          </div>

        <h4>Do you want to start the experiment with a saved policy? <a class="btn btn-primary" href="/AMaze/stored_policy">Start</a></h4>
        <h4>Do you want to start the interaction experiment with Q-learning? <a class="btn btn-primary" href="/AMaze/restart">Start</a></h4>
      </div>
    </div>
  </div>
{% endblock %}
