{% extends "base.html" %}

{% block content %}
    <div class="container text-center">
      <br>
      <h1>AMaze example</h1>
    </div>

  <br>
  <div class="container">
          <div class="row text-center">
              <div class="col">
                <p>Target reached: <strong>{{ success }}</strong></p>
                <p>Raw reward: <strong>{{ cumulative_reward }}</strong></p>
                <p>Normalized reward: <strong>{{ normalized_reward }}</strong></p>
              </div>
              {% if not evaluate %}
              <div class="col">
                  <p>This the episode <strong>{{ iteration }}</strong> of training</p>

                  <form method="post" action="/AMaze/continue">
                      {% csrf_token %}
                      <label for="stepsize">Stepsize (between 1 and 500):</label>
                      <br><input type="number" name="stepsize" id="stepsize" min="1" max="500" value="{{ stepsize }}">
                      <input type="submit" class="btn btn-sm btn-secondary" value="Change">
                  </form>
              </div>
              {% endif %}
          </div>
          <br>
          {% if evaluate %}
              <div class="form-row text-center">
                <a class="btn btn-secondary disabled" href="/AMaze/restart">Restart training</a>
                <a class="btn btn-secondary disabled" href="/AMaze/continue">Continue training</a>
                <a class="btn btn-primary" href="/AMaze/stored_policy">Evaluate</a>
              </div>
          {% else %}
              <div class="form-row text-center">
                <a class="btn btn-primary" href="/AMaze/restart">Restart training</a>
                <a class="btn btn-primary" href="/AMaze/continue">Continue training</a>
                <a class="btn btn-primary" href="/AMaze/evaluate">Evaluate</a>
              </div>
          {% endif %}
</div>

<br>

<div class="container w-75 text-center align-center">
    <div class="row">
    {% load static %}
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
                {% for s,a,r,_,_ in ras %}
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="{{ forloop.counter0 }}"
                    class="active"
                    aria-current="true"
                    aria-label="Slide {{ forloop.counter }}"
                  ></button>
                {% endfor %}
            </div>

            <div class="carousel-inner bg-secondary">
                <form method="post" action="/AMaze/continue">
                {% csrf_token %}
                {% for s,a,r,_,_ in ras %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                        <img
                          src="/static/AMaze/visualization/{{ maze_str }}/{{ forloop.counter0 }}.png"
                          class="d-block w-100"
                        />

                        <div class="carousel-caption right-caption text-right">
                          {% if a.0 == 0 and a.1 == -1 %}
                            <label for="{{ forloop.counter0 }}">Step {{ forloop.counter0 }}, Action: down, Reward: </label>
                          {% elif a.0 == 0 and a.1 == 1 %}
                            <label for="{{ forloop.counter0 }}">Step {{ forloop.counter0 }}, Action: up, Reward: </label>
                          {% elif a.0 == -1 and a.1 == 0 %}
                            <label for="{{ forloop.counter0 }}">Step {{ forloop.counter0 }}, Action: left, Reward: </label>
                          {% else %}
                            <label for="{{ forloop.counter0 }}">Step {{ forloop.counter0 }}, Action: right, Reward: </label>
                          {% endif %}
                          {% if evaluate %}
                            <label> {{ r }}</label>
                          {% else %}
                            <input type="number" style="width: 4em" name="{{ forloop.counter0 }}" id="{{ forloop.counter0 }}" value="{{ r }}">
                            <input class="btn btn-sm btn-success" type="submit" name="submit" value="submit">
                          {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </form>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>
{% endblock %}
