{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <section class="text-center">
    <div class="container">
      <br>
      <h1>Profile</h1>
    </div>
  </section>
  
  <br>

  <div class="container">
    <div class="row align-items-center justify-content-evenly">      
      <div class="col-md-4">
        <h4>Personal information</h4>
        <form method="post">
          {% csrf_token %}
          {{ formInfo|crispy }}      
          <br>
          {% if participant.agreed_at and not participant.withdrawn_at and not participant.external_id %}
            <button type="submit" name="update_info" class="btn btn-primary">Update information</button>
          {% else %}
            <p class="alert alert-warning">You cannot update this information</p>
          {% endif %}
        </form>
      </div>
         
      <div class="col-md-4">
        <h4>Password information</h4>
        <form method="post">
          {% csrf_token %}
          {{ formPassword|crispy }}
          <br>
          {% if participant.agreed_at and not participant.withdrawn_at and not participant.external_id %}
            <button type="submit" name="update_password" class="btn btn-primary">Update password</button>
          {% else %}
            <p class="alert alert-warning">You cannot update this information</p>
          {% endif %}
        </form>
      </div>
    </div>

    <br><br>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h4>Informed Consent Agreement</h4>
        {% if participant.withdrawn_at %}
            <br>You withdrawn your consent on the {{ participant.withdrawn_at }} No further information will be collected.
        {% elif participant.agreed_at %}
            <p>You gave us your consent on {{ participant.agreed_at|date:"F d, Y" }} at {{ participant.agreed_at|time:"H:i" }}.</p>
        {% else %}
            <p>You did not give us consent to use your information.</p>
        {% endif %}
        <p><a href="/accounts/consent">You can review the agreement by clicking here.</a></p>
      </div>
    </div>
  </div>
{% endblock %}