{% extends "base.html" %}

{% block content %}
{% load static %}
  <script>
    var left = 0;
    var right = 0;
    var exploitation = 0;
    document.addEventListener('keydown', (event)=> {
        if(event.key == 'ArrowLeft'){
          left = 1;
          right = 0;
        } else if(event.key == 'ArrowRight') {
          left = 0;
          right = 1;
        } else if(event.key == 'ArrowDown') {
          left = 0;
          right = 0;
        }
    });

    function myCallback() {
      fetch("http://localhost:8000/mountain/continue?left=" + left + "&right=" + right + "&exploitation=" + exploitation)
      .then(function(response) {
           json = response.json()
           .then(function(j) {
              console.log("Fetching image: " + new Date().getTime());
              document.getElementById("image").src = "{% static 'mountain/step.png' %}?"+new Date().getTime();
              console.log("Image updated: " + new Date().getTime());
              
              console.log("Is terminated? " + j.is_terminated);
              if(j.is_terminated == 0){
                console.log("Fetching step: " + new Date().getTime());
                myCallback();
               }
            });
        });
    };

    myCallback();
  </script>

  <section class="text-center">
    <div class="container">
      <br>
      <h1>Mountain car example</h1>
    </div>
  </section>

  <br>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <p>Change exploitation policy <button class="btn btn-primary" onclick="exploitation = !exploitation;">change</button></p>
      </div>
      <div class="col">
          <img id="image" src="{% static 'mountain/step.png' %}">
      </div>
    </div>
  </div>
{% endblock %}