{% extends "base.html" %}

{% block content %}
{% load static %}
  <section class="text-center">
    <div class="container">
      <br>
      {% if updated %}
        <h1>Simple Spread configuration (updated successfully)</h1>
      {% else %}
        <h1>Simple Spread configuration</h1>
      {% endif %}
    </div>
  </section>

  <br>
  <div class="container">
    <div class="row align-items-center">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="agent">Number of agents and landmarks</label>
          <input type="text" class="form-control" id="agent" placeholder="3">
          <small id="agentHelp" class="form-text text-muted">Between 1 and 10.</small>
        </div>
        <br>
        <div class="form-group">
          <label for="local_ratio">Weight applied to local reward and global reward</label>
          <input type="number" step="0.01" class="form-control" id="local_ratio" placeholder="0.5">
          <small id="local_ratioHelp" class="form-text text-muted">Global reward weight will always be 1 - local reward weight.</small>
        </div>
        <br>
        <div class="form-group">
          <label for="max_cycles">Number of frames (a step for each agent) until game terminates</label>
          <input type="number" class="form-control" id="max_cycles" placeholder="25">
          <small id="max_cyclesHelp" class="form-text text-muted">Between 1 and 100.</small>
        </div>
        <br>
        <div class="form-group">
          <label for="continuous_actions">Whether agent action spaces are discrete(default) or continuous</label>
          <select id="continuous_actions" class="form-control">
            <option>Discrete</option>
            <option>Continuous</option>
          </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}