{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row my-4 justify-content-center">
        <div class="col-10 col-lg-8 rounded shadow p-4">
            <h1>Informed Consent Agreement</h1>
            <p>Before taking part in this study, please read the following information and indicate below whether you consent to the conditions of participation.</p>
            <br>

            {% if consent %}
                <h4>Description</h4>
                <p>{{ consent.explanation_text }}</p>
                <p>During the experiment, we will collect data about your interactions with the AI system, including your actions, decisions, and responses. This data will be used solely for research purposes to improve our understanding of human-AI collaboration in reinforcement learning settings.</p>
                <p>All the information is kept in secure locations approved by the institute and is only available to the research team:</p>
                
                <div class="row justify-content-evenly">
                    {% for key, member in consent.research_team.items %}
                        <div class="col-auto">
                            <p>
                                <strong>{{ member.designation }}:</strong>
                                <br>
                                {{ member.institution }}
                                <br>
                                {{ member.location }}
                                <br>
                                {{ member.email }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <br>
                
                <h4>Participation</h4>
                <p>Participation is <b>completely voluntary</b>. You can decide to withdraw at any time and for any reason, including after participating. However, if you choose to withdraw after participating, we will not be required to undo the processing of your data that has taken place up until that time. The personal data we have obtained from you up until the time when you withdraw your consent will be erased (where personal data is any data that can be linked to you, so this excludes any already anonymized data).</p>
                <p>We intend to report <b>the results of this study</b> in publications and/or presentations. Upon request, we can share these results with you through email. We also intend to share collected survey data with the broader research community, following FAIR (Findable, Accessible, Interoperable, Reusable) data principles. Any information from the study that could identify you as an individual will be replaced or removed before publishing the survey data. Personal characteristics are only collected in broad categories. Therefore, <b>your identity as a participant will remain confidential at all times</b>, and the risk of participation will be minimal. The data will be stored for 10 years.</p>
                <p>{{ consent.ethical_guidelines }}</p>
            {% else %}
                <p class="alert alert-warning">It seems there is not consent agreement available, please contact the administrator.</p>
            {% endif %}
        </div>
    </div>
        
    <div class="row my-4 justify-content-center">
        <div class="col-10 col-lg-8 rounded shadow p-4">
            <h3>Agreement</h3>
            <form method="post" class="text-end">
                {% csrf_token %}
                <ul class="list-group text-start" style="list-style-type: disc; list-style-position: inside;">
                    <li class="list-group-item" style="display: list-item;">I am 18 years or older</li>
                    <li class="list-group-item" style="display: list-item;">I have read the information above and understand the nature and goal of this research project</li>
                    <li class="list-group-item" style="display: list-item;">I understand my participation is voluntary, and that I may withdraw from the study at any time</li>
                    <li class="list-group-item" style="display: list-item;">I understand that my responses may be shared with the broader research community and may be reported in scientific publications. Any information that could identify me as an individual will be replaced or removed</li>
                </ul>
                
                {% if not consent %}
                    <br><p class="alert alert-warning">It seems there is not consent agreement available, please contact the administrator.</p>
                {% elif participant.withdrawn_at %}
                    <br>You withdrawn your consent on the {{ participant.withdrawn_at }} No further information will be collected.
                {% elif participant.agreed_at %}
                    <br>You gave us your consent on the {{ participant.agreed_at }}
                    <button type="submit" onclick="return confirm('Are you sure you want to retract your consent?')" name="retract_consent" class="btn btn-sm btn-danger">Retract Consent</button>
                {% else %}
                    <div class="form-check mt-3 mx-3 text-start">
                        {{ form.agree }}
                        <label class="form-check-label" for="{{ form.agree.id_for_label }}">
                            {{ form.agree.label }}
                        </label>
                        {% if form.agree.errors %}
                            <div class="text-danger">{{ form.agree.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary my-3">Continue</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}